* {
    box-sizing: border-box;
}

/* var roots */
:root {
    --white:#fff;
    --mint: #9fddd4;
    --shadow: #2d3236;
    --ice: #1f4566;

}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--white);
    color: var(--ice);
    padding: 0;
    line-height: 1.5;
    margin: 0;
  
}

header {
    background-color: var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 1% 15px 0;
    align-items: center;
   
    
}

/* nav links are in a row */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;

}

nav a {
    color: var(--mint);
    padding: 5px 10px;
    font-size: 25px;
    margin-right: 10px;
    background-image: linear-gradient(270deg,var(--mint) 0%,var(--mint) 100%);
    background-position: bottom;
    transition: all 0.30 ease-in;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: 100% 3px;
}   

/* when hovering over links, the background and font color changes */
nav a:hover{
    color: var(--shadow);
    background-size: 100% 100%

}


header h1{
    color: var(--mint);
    padding: 5px 1% 5px 6%;
    color: var(--shadow);
    background-color: var(--mint);
    font-size: 4vw;
    margin: 0;
    line-height: 1;
}

h1,h2,h3 {
    margin: 0;
}

/* togepi is the class name for the banner */
/* hero banner */
.togepi{
    background-color: var(--ice);
    background-image: url("../images/space.jpg");
    background-size:auto;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    padding: 2% 6%;
    text-align: right;
    align-items: flex-end;

}

.togepi div {
    flex: 0 0 90%;
}

/* banner text */
.togepi h2 {
   background-color: var(--mint);
   color: var(--shadow);
   display: inline;
   margin: 0;
   padding: 5px 10px;
   font-size: 35px;
   line-height: 2;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/* name of class for portfolio links/boxes  */
.Pichu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 0;
    padding: 10px 0;
    align-items: stretch;

}

/* h2 headers */
.Pichu  h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid var(--ice);
    font-size: 400%;
    padding-right: 15px;
    line-height: 1.1;
}


.Pichu p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Pichu div {
    flex: 0 0 75%
}

  /* Ditto is the class name for the boxes */
.Ditto-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*   parent of the h3 and span tags */
.Ditto-item {
    display: flex;
    border: 5px solid var(--mint);
    background-color:var(--ice) ;
    color: var(--shadow);
    max-height: 150px;
    min-height: 150px;
    align-items: flex-end;
    flex-basis: calc(50% - 1em);
    padding: 0 0 20px 0;
    margin: 0.5em;
    background-size: 150%;
    font-size: 0.9em;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    text-decoration: none;
}

.Ditto-item:first-child{
    min-height: 400px;
    flex-basis: 100%;
}

.Ditto-item div{
    background-color: var(--mint);
    padding: 8px 10px;
}

.Ditto-item h3 {
    font-size: 1.6rem;
}

.Ditto-item:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
 
/* class names for the images that go along with the portfolio boxes */
.charizard {
    background-image: url("../images/mementos\ circles.jpg");
}

.pikachu {
    background-image: url("../images/portal.jpg");

}

.onyx {
    background-image: url("../images/programming.jpg");
}

.lucario {
    background-image: url("../images/galaxy.jpg");
}

.bulbasaur {
    background-image: url("../images/neon.jpg");
}

/* contacts */
.Rotom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}   

/* contact links */
.Rotom a {
    color: var(--shadow) ;
    text-decoration: none;
    padding: 5px;
    background-image: linear-gradient(270deg,var(--ice) 0%, var(--ice) 100%);
    font-size: 1.3rem;
    font-style: normal;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    display: inline-block;
    margin: 0 0.2rem 0.1rem;
    transition: all 0.25s ease-in;

}

.Rotom h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 5px solid var(--ice);
    font-size: 350%;
    padding-right: 15px;
    line-height: 1.1;
    
}

.Rotom a:hover {
    background-size: 100% 88%;
    color: var(--mint);
}

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .Pichu h2, .Pichu div {
        flex: 0 0 100%
    }

.Pichu h2 {
    border-right: none;
    border-bottom: 4px solid var(--ice);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align:left;
    font-size: 7vw;
}

}


/* screen adjusts if the the screen is less than 760px */
@media screen and (max-width: 768px) {
    .Ditto-item, .Ditto-item:first-child {
        flex-basis: 100%;
    }

    .Ditto-item:first-child {
        min-height: 150px;
    }

    .togepi {
        justify-content: center;
        text-align: center;
    }
    
    .Rotom {
        flex-direction: column;
        align-items: flex-start;
    }

}